In [16]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [17]:
url = 'https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats'

In [3]:
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [4]:
table = soup.find('table')

In [5]:
table_heads = table.find_all('th', class_ ="poptip")

In [6]:
column = [head.text.strip() for head in table_heads]

column = column[0:-1]

In [7]:
df = pd.DataFrame(columns=column)

df

Empty DataFrame
Columns: [Rk, Squad, MP, W, D, L, GF, GA, GD, Pts, Pts/MP, xG, xGA, xGD, xGD/90, Attendance, Top Team Scorer, Goalkeeper]
Index: []

In [8]:
table_data = table.find_all('tr')

In [9]:
for data in table_data[1:]:
    row_data = data.find_all('td')
    ind_data = [rdata.text.strip() for rdata in row_data]
    team = data.find('th')
    ind_data = [team, *ind_data[0:-1]]
    length = len(df)
    df.loc[length] = ind_data
    
df

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper
0,[1],Manchester City,38,28,5,5,94,33,+61,89,2.34,78.6,32.1,+46.5,+1.22,"53,249",Erling Haaland - 36,Ederson
1,[2],Arsenal,38,26,6,6,88,43,+45,84,2.21,71.9,42.0,+29.9,+0.79,"60,191","Martin Ødegaard, Gabriel Martinelli - 15",Aaron Ramsdale
2,[3],Manchester Utd,38,23,6,9,58,43,+15,75,1.97,67.7,50.4,+17.3,+0.45,"73,671",Marcus Rashford - 17,David de Gea
3,[4],Newcastle Utd,38,19,14,5,68,33,+35,71,1.87,72.0,39.6,+32.4,+0.85,"52,127",Callum Wilson - 18,Nick Pope
4,[5],Liverpool,38,19,10,9,75,47,+28,67,1.76,72.6,50.9,+21.7,+0.57,"53,163",Mohamed Salah - 19,Alisson
5,[6],Brighton,38,18,8,12,72,53,+19,62,1.63,73.3,50.2,+23.1,+0.61,"31,477",Alexis Mac Allister - 10,Robert Sánchez
6,[7],Aston Villa,38,18,7,13,51,46,+5,61,1.61,50.2,52.5,-2.2,-0.06,"39,485",Ollie Watkins - 15,Emiliano Martínez
7,[8],Tottenham,38,18,6,14,70,63,+7,60,1.58,57.1,49.7,+7.4,+0.20,"61,585",Harry Kane - 30,Hugo Lloris
8,[9],Brentford,38,15,14,9,58,46,+12,59,1.55,56.8,49.9,+6.8,+0.18,"17,078",Ivan Toney - 20,David Raya
9,[10],Fulham,38,15,7,16,55,53,+2,52,1.37,46.2,63.8,-17.6,-0.46,"23,746",Aleksandar Mitrović - 14,Bernd Leno
10,[11],Crystal Palace,38,11,12,15,40,49,-9,45,1.18,39.3,48.1,-8.8,-0.23,"24,952",Eberechi Eze - 10,Vicente Guaita
11,[12],Chelsea,38,11,11,16,38,47,-9,44,1.16,49.5,52.5,-3.0,-0.08,"40,002",Kai Havertz - 7,Kepa Arrizabalaga
12,[13],Wolves,38,11,8,19,31,58,-27,41,1.08,36.8,59.9,-23.1,-0.61,"31,482","Rúben Neves, Daniel Podence - 6",José Sá
13,[14],West Ham,38,11,7,20,42,55,-13,40,1.05,49.2,53.0,-3.9,-0.10,"62,462","Saïd Benrahma, Jarrod Bowen - 6",Łukasz Fabiański
14,[15],Bournemouth,38,11,6,21,37,71,-34,39,1.03,38.6,63.9,-25.3,-0.67,"10,362",Philip Billing - 7,Neto
15,[16],Nott'ham Forest,38,9,11,18,38,68,-30,38,1.00,39.3,64.2,-24.9,-0.66,"29,188",Taiwo Awoniyi - 10,Dean Henderson
16,[17],Everton,38,8,12,18,34,57,-23,36,0.95,45.2,65.7,-20.5,-0.54,"39,243",Dwight McNeil - 7,Jordan Pickford
17,[18],Leicester City,38,9,7,22,51,68,-17,34,0.89,50.6,63.4,-12.8,-0.34,"31,887",Harvey Barnes - 13,Danny Ward
18,[19],Leeds United,38,7,10,21,48,78,-30,31,0.82,47.4,67.2,-19.8,-0.52,"36,566",Rodrigo - 13,Illan Meslier
19,[20],Southampton,38,6,7,25,36,73,-37,25,0.66,37.7,61.0,-23.3,-0.61,"30,440",James Ward-Prowse - 9,Gavin Bazunu

In [10]:
import numpy as np

df['Rk'] = pd.Series(np.arange(1,21))

In [11]:
df.columns

Index(['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
       'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer',
       'Goalkeeper'],
      dtype='object')

In [12]:
df['Attendance'] = df['Attendance'].apply(lambda x: x.replace(',', ''))

In [13]:
to_num = ['Rk', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance']

df[to_num] = df[to_num].apply(pd.to_numeric)

In [14]:
df

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,38,28,5,5,94,33,61,89,2.34,78.6,32.1,46.5,1.22,53249,Erling Haaland - 36,Ederson
1,2,Arsenal,38,26,6,6,88,43,45,84,2.21,71.9,42.0,29.9,0.79,60191,"Martin Ødegaard, Gabriel Martinelli - 15",Aaron Ramsdale
2,3,Manchester Utd,38,23,6,9,58,43,15,75,1.97,67.7,50.4,17.3,0.45,73671,Marcus Rashford - 17,David de Gea
3,4,Newcastle Utd,38,19,14,5,68,33,35,71,1.87,72.0,39.6,32.4,0.85,52127,Callum Wilson - 18,Nick Pope
4,5,Liverpool,38,19,10,9,75,47,28,67,1.76,72.6,50.9,21.7,0.57,53163,Mohamed Salah - 19,Alisson
5,6,Brighton,38,18,8,12,72,53,19,62,1.63,73.3,50.2,23.1,0.61,31477,Alexis Mac Allister - 10,Robert Sánchez
6,7,Aston Villa,38,18,7,13,51,46,5,61,1.61,50.2,52.5,-2.2,-0.06,39485,Ollie Watkins - 15,Emiliano Martínez
7,8,Tottenham,38,18,6,14,70,63,7,60,1.58,57.1,49.7,7.4,0.20,61585,Harry Kane - 30,Hugo Lloris
8,9,Brentford,38,15,14,9,58,46,12,59,1.55,56.8,49.9,6.8,0.18,17078,Ivan Toney - 20,David Raya
9,10,Fulham,38,15,7,16,55,53,2,52,1.37,46.2,63.8,-17.6,-0.46,23746,Aleksandar Mitrović - 14,Bernd Leno
10,11,Crystal Palace,38,11,12,15,40,49,-9,45,1.18,39.3,48.1,-8.8,-0.23,24952,Eberechi Eze - 10,Vicente Guaita
11,12,Chelsea,38,11,11,16,38,47,-9,44,1.16,49.5,52.5,-3.0,-0.08,40002,Kai Havertz - 7,Kepa Arrizabalaga
12,13,Wolves,38,11,8,19,31,58,-27,41,1.08,36.8,59.9,-23.1,-0.61,31482,"Rúben Neves, Daniel Podence - 6",José Sá
13,14,West Ham,38,11,7,20,42,55,-13,40,1.05,49.2,53.0,-3.9,-0.10,62462,"Saïd Benrahma, Jarrod Bowen - 6",Łukasz Fabiański
14,15,Bournemouth,38,11,6,21,37,71,-34,39,1.03,38.6,63.9,-25.3,-0.67,10362,Philip Billing - 7,Neto
15,16,Nott'ham Forest,38,9,11,18,38,68,-30,38,1.00,39.3,64.2,-24.9,-0.66,29188,Taiwo Awoniyi - 10,Dean Henderson
16,17,Everton,38,8,12,18,34,57,-23,36,0.95,45.2,65.7,-20.5,-0.54,39243,Dwight McNeil - 7,Jordan Pickford
17,18,Leicester City,38,9,7,22,51,68,-17,34,0.89,50.6,63.4,-12.8,-0.34,31887,Harvey Barnes - 13,Danny Ward
18,19,Leeds United,38,7,10,21,48,78,-30,31,0.82,47.4,67.2,-19.8,-0.52,36566,Rodrigo - 13,Illan Meslier
19,20,Southampton,38,6,7,25,36,73,-37,25,0.66,37.7,61.0,-23.3,-0.61,30440,James Ward-Prowse - 9,Gavin Bazunu

In [15]:
df.to_csv(r'C:\Users\Owner\OneDrive\Desktop\Python\Arsenal Data Scraping\PL_Data_22_23.csv', index=False)

In [18]:
url = 'https://fbref.com/en/comps/9/2022-2023/schedule/2022-2023-Premier-League-Scores-and-Fixtures'

In [51]:
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [95]:
table = soup.find(id='sched_2022-2023_9_1')

In [96]:
table_heads = table.find_all('th', class_ ="poptip")

In [97]:
column = [head.text.strip() for head in table_heads]

column = column[3:-2]

In [98]:
df = pd.DataFrame(columns=column)

df

Empty DataFrame
Columns: [Time, Home, xG, Score, xG, Away, Attendance, Venue, Referee]
Index: []

In [99]:
table_data = table.find_all('tr')

In [100]:
for data in table_data[1:]:
    row_data = data.find_all('td')
    ind_data = [rdata.text.strip() for rdata in row_data]
    ind_data = ind_data[2:-2]
    
    length = len(df)
    df.loc[length] = ind_data
    
df

,Time,Home,xG,Score,xG,Away,Attendance,Venue,Referee
0,20:00,Crystal Palace,1.2,0–2,1.0,Arsenal,"25,286",Selhurst Park,Anthony Taylor
1,12:30,Fulham,1.2,2–2,1.2,Liverpool,"22,207",Craven Cottage,Andy Madley
2,15:00,Tottenham,1.5,4–1,0.5,Southampton,"61,732",Tottenham Hotspur Stadium,Andre Marriner
3,15:00,Newcastle Utd,1.7,2–0,0.3,Nott'ham Forest,"52,245",St James' Park,Simon Hooper
4,15:00,Leeds United,0.8,2–1,1.3,Wolves,"36,347",Elland Road,Robert Jones
...,...,...,...,...,...,...,...,...,...
425,16:30,Everton,1.0,1–0,0.5,Bournemouth,"39,201",Goodison Park,Stuart Attwell
426,16:30,Leicester City,1.4,2–1,1.4,West Ham,"32,183",King Power Stadium,Simon Hooper
427,16:30,Aston Villa,2.8,2–1,1.4,Brighton,,Villa Park,David Coote
428,16:30,Leeds United,1.5,1–4,2.2,Tottenham,"36,871",Elland Road,Anthony Taylor
429,16:30,Brentford,1.3,1–0,1.6,Manchester City,"17,120",Brentford Community Stadium,John Brooks

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 430 entries, 0 to 429
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        430 non-null    object
 1   Home        430 non-null    object
 2   xG          430 non-null    object
 3   Score       430 non-null    object
 4   xG          430 non-null    object
 5   Away        430 non-null    object
 6   Attendance  430 non-null    object
 7   Venue       430 non-null    object
 8   Referee     430 non-null    object
dtypes: object(9)
memory usage: 33.6+ KB

In [102]:
df = df.drop(df[df['Score'] == ''].index)

In [103]:
df[['Home_Goals', 'Away_Goals']] = df['Score'].str.split('–', expand=True)

In [104]:
df['Attendance'] = df['Attendance'].apply(lambda x: x.replace(',', ''))

In [105]:
to_num = ['Attendance', 'Home_Goals', 'Away_Goals']

df['xG'] = df['xG'].apply(pd.to_numeric)
df[to_num] = df[to_num].apply(pd.to_numeric)
df = df.drop(columns=['Score'])

In [106]:
df

,Time,Home,xG,xG,Away,Attendance,Venue,Referee,Home_Goals,Away_Goals
0,20:00,Crystal Palace,1.2,1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor,0,2
1,12:30,Fulham,1.2,1.2,Liverpool,22207.0,Craven Cottage,Andy Madley,2,2
2,15:00,Tottenham,1.5,0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner,4,1
3,15:00,Newcastle Utd,1.7,0.3,Nott'ham Forest,52245.0,St James' Park,Simon Hooper,2,0
4,15:00,Leeds United,0.8,1.3,Wolves,36347.0,Elland Road,Robert Jones,2,1
...,...,...,...,...,...,...,...,...,...,...
425,16:30,Everton,1.0,0.5,Bournemouth,39201.0,Goodison Park,Stuart Attwell,1,0
426,16:30,Leicester City,1.4,1.4,West Ham,32183.0,King Power Stadium,Simon Hooper,2,1
427,16:30,Aston Villa,2.8,1.4,Brighton,NaN,Villa Park,David Coote,2,1
428,16:30,Leeds United,1.5,2.2,Tottenham,36871.0,Elland Road,Anthony Taylor,1,4
429,16:30,Brentford,1.3,1.6,Manchester City,17120.0,Brentford Community Stadium,John Brooks,1,0

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 380 entries, 0 to 429
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        380 non-null    object
 1   Home        380 non-null    object
 2   xG          380 non-null    float64
 3   xG          380 non-null    float64
 4   Away        380 non-null    object
 5   Attendance  379 non-null    float64
 6   Venue       380 non-null    object
 7   Referee     380 non-null    object
 8   Home_Goals  380 non-null    int64
 9   Away_Goals  380 non-null    int64
dtypes: float64(3), int64(2), object(5)
memory usage: 32.7+ KB

In [108]:
df.to_csv(r'C:\Users\Owner\OneDrive\Desktop\Python\Arsenal Data Scraping\PL_Fixtures_22_23.csv', index=False)